<h1>Search for '<%= @query %>' in Transaction <small><%= @settlement.created_at.strftime("%B %d, %Y") %></small></h1>
<h2><%= @settlement.store.name %></h2>

<% if @product.nil? %>

  <p>Nothing is found.</p>

<% else %>

  <p>Name: <%= @product.name %></p>
  <p>Barcode: <%= @product.barcode %></p>
  <p>Sold: <%= number_with_delimiter @product.quantity %></p>
  <p>Price: <%= number_to_currency @product.price %></p>

<% end %>
