<%= simple_form_for(@product_in_shop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :store %>
    <%= f.association :product %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
