<h1>View Review</h1>

<hr>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<p>
  <strong>Product:</strong>
  <%= @comment.product.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= display_ratings(@comment.rating) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
