<%= simple_form_for(@store, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control'} }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-8">
          <%= f.input :name %>
        </div>
        <div class="col-sm-4">
          <%= f.input :size %>
        </div>
      </div>
      <%= f.input :contact %>
      <%= f.input :operation_hours %>
    </div>
    <div class="col-md-6">
      <%= f.input :address, input_html: { rows: 4 } %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :geo_latitude %>
        </div>
        <div class="col-sm-6">
          <%= f.input :geo_longitude %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
