<h1>Stores</h1>
<% if can? :view, Store %>
  <%= link_to 'New Store', new_store_path %>
<% end %>
<hr>

<% if customer_view? %>
  <% @stores.select { |s| !s.closed? }.in_groups_of(3, false) do |group| %>
    <div class="row">
      <%= render group %>
    </div>
  <% end %>
<% else %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Operation hours</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr class="<%= store.closed? ? "" : "success" %>">
          <td><%= store.name %></td>
          <td><%= store.size %></td>
          <td><%= store.address %></td>
          <td><%= store.contact %></td>
          <td><%= store.operation_hours %></td>
          <td><%= link_to 'Show', store, "data-no-turbolink" => true %></td>
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td>
            <%= link_to 'Stocks', store_stocks_path(store) %>
            <%= link_to 'Transactions', store_settlements_path(store) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @stores %>
