<%= simple_form_for(@stock, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control'} }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @stock.product.nil? %>
      <%= f.association :product, collection: @products, include_blank: false %>
    <% else %>
      <%= f.input :product_id, as: :hidden %>
      <p><strong>Product:</strong> <%= @stock.product.name %></p>
    <% end %>

    <%= f.input :quantity %>
    <%= f.input :minimum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% if @stock.product.nil? %>
  <script>
    $("#stock_product_id").on("change", function() {
      var id = $(this).val();

      $("#stock-info").load("/stocks/new?q=" + id + " #stock-info > *");
      $(".stock_quantity").load("/stocks/new?q=" + id + " .stock_quantity > *");
      $(".stock_minimum").load("/stocks/new?q=" + id + " .stock_minimum > *");
    });
  </script>
<% end %>
