<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product, include_blank: false %>
    <% if @product %>
      <p>Current Price: <%= number_to_currency @product.daily_price %></p>
      <p>Quantity in HQ: <%= @product.current_stock %></p>
    <% end %>
    <%= f.input :quantity %>
    <%= f.input :minimum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
