<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @stock.product.nil? %>
      <%= f.association :product, include_blank: false %>
    <% else %>
      <%= f.input :product_id, as: :hidden %>
      <p><strong>Product:</strong> <%= @stock.product.name %></p>
    <% end %>

    <%= f.input :quantity %>
    <%= f.input :minimum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
