<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if params[:product_id] %>
      <%= f.input :product_id, as: :hidden %>
      <p><%= @stock.product.name %></p>
    <% else %>
      <%= f.association :product, include_blank: false %>
    <% end %>

    <%= f.input :quantity %>
    <%= f.input :minimum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
