<h1>Stocks in <%= @store.name %></h1>

<% if can? :manage, Stock %>
  <%= link_to 'New Stock', new_stock_path %> |
  <%= link_to 'Mass Restock', mass_stocks_path %> |
  <%= link_to 'Upload Stocks', batch_new_stocks_path %> |
  <%= link_to 'Download Stock List', download_stocks_path("txt") %>
<% end %>

<hr>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>No.</th>
      <th>Product</th>
      <th>Barcode</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Minimum</th>
      <% if can? :manage, Stock %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each_with_index do |stock, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= stock.product.name %></td>
        <td><%= stock.product.barcode %></td>
        <td><%= number_to_currency stock.product.daily_price %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.minimum %></td>
      <% if can? :manage, Stock %>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stocks %>
