<p>
  <strong>Store:</strong>
  <%= @stock.store.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Minimum:</strong>
  <%= @stock.minimum %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
