<h1><%= @stock.store.name %> - Stock Detail</h1>
<h2><%= @stock.product.name %></h2>

<% if can? :update, Stock %>
  <%= link_to 'Edit', edit_stock_path(@stock) %> |
  <%= link_to 'Back', stocks_path %>
<% end %>

<hr />

<p>
  <strong>Barcode:</strong>
  <%= @stock.product_id %>
</p>

<p>
  <strong>Current Price:</strong>
  <%= number_to_currency @stock.daily_price %>
</p>

<p>
  <strong>Predicted Price:</strong>
  <%= number_to_currency @stock.new_daily_price %>
</p>

<p>
  <strong>Current Stock:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Minimum Stock:</strong>
  <%= @stock.minimum %>
</p>
