<h1><%= @user.username.titleize %>'s Profile</h1>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Public Info</h3>
      </div>
      <div class="panel-body">
        <p>Member for <%= time_ago_in_words(@user.created_at) %></p>
        <% if administrative_view? %>
          <p>Total Credits: <%= number_with_precision @user.credits, precision: 2 %></p>
          <p>Role: <%= @user.role.titleize %></p>
          <% if @user.promotable_by?(current_user) %>
            <%= link_to "Promote", @user, method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        <% end %>
        <p>
      </div>
    </div>
    <% if user_signed_in? && @user == current_user %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Private Info</h3>
        </div>
        <table class="table">
          <tr>
            <th>Total Credits</th>
            <td><%= number_with_precision @user.credits, precision: 2 %></td>
          </tr>
          <tr>
            <th>Number of Orders</th>
            <td><%= number_with_delimiter @user.orders.size %></td>
          </tr>
          <tr>
            <th>Number of Reviews</th>
            <td><%= number_with_delimiter @user.comments.size %></td>
          </tr>
        </table>
        <div class="panel-footer">
          <small>Private informations only visible to yourself.</small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-9">
    <h2>Reviews</h2>
    <hr>
    <% if @comments.empty? %>
      <p>No reviews yet.</p>
    <% else %>
      <div class="row">
        <% @comments.in_groups(2, false) do |group| %>
          <div class="col-sm-6">
            <%= render partial: "comments/comment_thumbnail", collection: group, as: "comment" %>
          </div>
        <% end %>
      </div>

      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
