<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CG3002 Project Website">
    <meta name="author" content="Wang Zhuochun">

    <link rel="shortcut icon" href="favicon.png">

    <title><%= content_for?(:title) ? yield(:title) : "ShopTwo" %></title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= yield(:stylesheets) if content_for?(:stylesheets) %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "pace.min" %>
    <%= yield(:javascripts) if content_for?(:javascripts) %>
    <%= csrf_meta_tags %>
  </head>

  <body>
