<div class="navbar navbar-<%= current_user.try(:role) || 'default' %> navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= shop_title %></a>
    </div>
    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <%= render "shared/menu/#{current_user.role}" %>
        <%= render "shared/logout" %>
      <% else %>
        <%= render "shared/menu/public" %>
        <%= render "shared/login" %>
      <% end %>
    </div>
  </div>
</div>
