<div class="row">
  <div class="col-sm-12 col-md-3 secondary">
    <div class="panel panel-<%= current_user.role %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hi, <%= current_user.username %>
        </h3>
      </div>
      <table class="table">
        <% if current_user.store %>
          <tr>
            <th>Store</th>
            <td><%= current_user.store.name %></td>
          </tr>
          <tr>
            <th>Store Id</th>
            <td><%= current_user.store.id %></td>
          </tr>
          <tr>
            <th>Store Contact</th>
            <td><%= current_user.store.contact %></td>
          </tr>
        <% end %>
        <tr>
          <th>Role</th>
          <td><%= current_user.role.titleize %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "Setting", edit_user_registration_path, class: "navbar-link" %>
          </td>
          <td>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link" %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-12 col-md-9 primary">
    <h1>Dashboard</h1>

    <h2>Statistics</h2>
    Products: <%= Product.all.count %>
    Categories: <%= Category.all.count %>
    Manufacturers: <%= Manufacturer.all.count %>
  </div>
</div>
