<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Store <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Page", store_path(current_user.store), "data-no-turbolink" => true %></li>
      <li class="divider"></li>
      <li class="dropdown-header">Administrative</li>
      <li><%= link_to "Edit", edit_store_path(current_user.store) %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Shop", stocks_path %></li>
      <li class="divider"></li>
      <li class="dropdown-header">Stock</li>
      <li><%= link_to "Restock", mass_stocks_path %></li>
      <li><%= link_to "Upload", batch_new_stocks_path %></li>
      <li class="divider"></li>
      <li class="dropdown-header">HQ</li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Manufacturer", manufacturers_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "History", settlements_path %></li>
      <li class="divider"></li>
      <li class="dropdown-header">Administrative</li>
      <li><%= link_to "Upload", new_settlement_path %></li>
    </ul>
  </li>
</ul>

<%= render "shared/menu/search" %>
