<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Shop", stocks_path %></li>
      <li><%= link_to "Restock", new_stock_path %></li>
      <li class="divider"></li>
      <li class="dropdown-header">HQ</li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Manufacturer", manufacturers_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "History", settlements_path %></li>
      <li class="divider"></li>
      <li class="dropdown-header">Administrative</li>
      <li><%= link_to "Upload", new_settlement_path %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Customers", users_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Employees", employee_users_path %></li>
    </ul>
  </li>
</ul>

<%= render "shared/menu/search" %>
