<%= simple_form_for(@order, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control'} }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :name %>
      <%= f.input :address, label: "Shipping Address", input_html: { rows: 4 } %>
    </div>
    <div class="col-sm-6">
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.input :pay_type, label: "Payment Method", collection: Order::PAYMENT_TYPES, include_blank: false %>
    </div>
  </div>
<% end %>
