<div class="panel panel-info order-summary-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Order Summary</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>Items:</td>
        <td class="text-right"><%= number_to_currency @order.subtotal_without_discount %></td>
      </tr>
      <tr>
        <td>Discount:</td>
        <td class="text-right text-success">-<%= number_to_currency @order.discount_subtotal %></td>
      </tr>
      <tr>
        <td>Credits:</td>
        <td class="text-right text-success order-credit-text">-<%= number_to_currency @order.used_credit.to_f %></td>
      </tr>
      <tr class="lead text-danger">
        <td>Total:</td>
        <td class="text-right order-total-text" data-value="<%= @order.subtotal %>"><%= number_to_currency (@order.subtotal - @order.used_credit.to_f) %></td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="place-order-btn">Place Your Order</button>
  </div> <!-- body -->
  <% if @order.new_record? %>
    <div class="panel-footer text-muted">
      You will earn <%= number_with_precision @order.credits, precision: 2 %> credits.
    </div>
  <% end %>
</div>
