<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Shopping", current_cart %></li>
  <li class="active">Place Order</li>
  <li class="active">Review</li>
</ol>

<h1>Review Your Order</h1>

<div class="delivery-form well">
  <%= render 'form' %>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="order-items panel panel-default">
      <table class="table">
        <tr>
          <th colspan="2">Items</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        <%= render @order.line_items %>
      </table>
    </div> <!-- order-items-panel -->
  </div>
  <div class="col-sm-4">
    <%= render 'order_summary' %>
  </div>
</div>

<script>
  $(function() {
    // item quantity change
    $(".line-item-quantity").on("change", function() {
      var $this = $(this),
          new_quantity = parseInt($this.val(), 10),
          old_quantity = parseInt($this.data("quantity"), 10);

      // quantity range
      if (new_quantity > 99) {
        $this.val(new_quantity = 99);
      } else if (new_quantity < 1) {
        $this.val(new_quantity = 1);
      }

      // update link button
      if (new_quantity != old_quantity) {
        $this.parents("td").find(".update-line-item-quantity").removeClass("hidden");
      } else {
        $this.parents("td").find(".update-line-item-quantity").addClass("hidden");
      }
    });

    // form submit
    $("#place-order-btn").on("click", function() {
       $("#new_order").submit();
    });

    // credits apply
    var $credit = $(".order-summary-panel").find(".order-credit-text"),
        $total  = $(".order-summary-panel").find(".order-total-text"),
        $order_credit = $("#order_credit"),
        credit_max = parseFloat($order_credit.prop("max"), 10);
    // credit change
    $order_credit.on("change", function() {
      var input = parseFloat($order_credit.val(), 10),
          total_price = parseFloat($total.data("value"));

      // check range
      if (input < 0) {
        input = 0;
      } else if (input > credit_max) {
        input = credit_max;
      }
      // assign back input
      $order_credit.val(input.toFixed(1));
      // update credit text
      $credit.html("-$" + input.toFixed(2));
      // update summary text
      total_price = "$" + (total_price - input).toFixed(2);
      $total.html(total_price);
    });
  });
</script>
