<h1>Shopping Cart</h1>

<hr>

<% if @cart.empty? %>
  <p class="lead">
    Your Shopping Cart is empty.
    <br>
    <small><%= link_to "Let's Go Shopping :)", "/" %></small>
  </p>
<% else %>
  <table class="table">
    <tr>
      <th colspan="2">Items to buy now</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>

    <%= render @cart.line_items %>

    <tr class="active">
      <td colspan="2">
      </td>
      <th>Subtotal</th>
      <td class="lead text-danger"><%= number_to_currency @cart.subtotal %></td>
    </tr>

    <tr>
      <td></td>
      <td colspan="3">
        <div class="pull-right">
          <%= link_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?" %>
          &nbsp;
          <%= link_to "Proceed to Checkout", new_order_path, class: "btn btn-danger btn-lg" %>
        </div>
      </td>
    </tr>
  </table>

  <script>
    $(function() {
      $(".line-item-quantity").on("change", function() {
        var $this = $(this),
            new_quantity = parseInt($this.val(), 10),
            old_quantity = parseInt($this.data("quantity"), 10);

        // quantity range
        if (new_quantity > 99) {
          $this.val(new_quantity = 99);
        } else if (new_quantity < 1) {
          $this.val(new_quantity = 1);
        }

        // update link button
        if (new_quantity != old_quantity) {
          $this.parents("td").find(".update-line-item-quantity").removeClass("hidden");
        } else {
          $this.parents("td").find(".update-line-item-quantity").addClass("hidden");
        }
      });
    });
  </script>
<% end %>

<small>The price and availability of items at ShopTwo are subject to change. The Cart is a temporary place to store a list of your items and reflects each item's most recent price.</small>

<hr>

<h2 class="text-muted">More Popular Products</h2>
<hr>
<%=
  render partial: "products/products_thumbnail",
         locals: {
           products: @popular_products,
           divider_num: 6,
           options: {
             no_category: true,
             type: "popular-product-item",
             span: 2,
             size: "100x100"
           }
         }
%>
