<div class="col-sm-6 col-md-3 secondary">
  <div class="panel panel-<%= current_user.role %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        Hi, <%= current_user.username %>
      </h3>
    </div>
    <table class="table">
      <tr>
        <th>Role</th>
        <td><%= current_user.role.titleize %></td>
      </tr>
      <tr>
        <td><%= link_to "Setting", edit_user_registration_path, class: "navbar-link" %></td>
        <td><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link" %></td>
      </tr>
    </table>
  </div> <!-- .panel -->
  <div class="panel panel-warning">
    <div class="panel-heading">Human Resource</div>
    <table class="table">
      <tr><th>Customers</th><td><%= User.customers.count %></td></tr>
      <tr><th>Employees</th><td><%= User.employees.count %></td></tr>
      <tr><th>Managers</th><td><%= User.managers.count %></td></tr>
    </table>
  </div> <!-- .panel -->
  <div class="panel panel-warning">
    <div class="panel-heading">Inventory</div>
    <table class="table">
      <tr><th>Products</th><td><%= Product.count %></td></tr>
      <tr><th>Categories</th><td><%= Category.count %></td></tr>
      <tr><th>Manufacturers</th><td><%= Manufacturer.count %></td></tr>
    </table>
  </div> <!-- .panel -->
</div>

<div class="col-sm-6 col-md-9 primary">
  <h2>Local Shops</h2><hr>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">Summary</div>
        <table class="table">
          <tr><th>Stores</th><td><%= Store.count %></td>
        </table>
      </div> <!-- .panel -->
      <div class="panel panel-danger">
        <div class="panel-heading">Revenue</div>
        <table class="table">
          <tr><th>This Week</th><td><%= number_to_currency Settlement.last_week.sum(:total_price) %></td>
          <tr><th>This Month</th><td><%= number_to_currency Settlement.last_month.sum(:total_price) %></td>
        </table>
      </div> <!-- .panel -->
      <div class="panel panel-danger">
        <div class="panel-heading">Transactions</div>
        <table class="table">
          <tr><th>This Week</th><td><%= number_with_delimiter Settlement.last_week.sum(:total_count) %></td>
          <tr><th>This Month</th><td><%= number_with_delimiter Settlement.last_month.sum(:total_count) %></td>
        </table>
      </div> <!-- .panel -->
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Revenue</div>
        <div class="panel-body">
          <%= pie_chart Store.all.map { |s| [s.name, s.settlements.last_month.sum(:total_price)] } %>
        </div>
      </div> <!-- .panel -->
    </div>
  </div> <!-- .row -->
  <h2>Online Shops</h2><hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">Summary</div>
        <table class="table">
          <tr><th>Orders</th><td><%= Order.count %></td>
          <tr><th>Reviews</th><td><%= Comment.approved.count %></td>
          <tr><th>Spams</th><td><%= Comment.spam.count %></td>
        </table>
      </div> <!-- .panel -->
      <div class="panel panel-danger">
        <div class="panel-heading">Revenue</div>
        <table class="table">
          <tr><th>This Week</th><td><%= number_to_currency Order.last_week.sum(:price) %></td>
          <tr><th>This Month</th><td><%= number_to_currency Order.last_month.sum(:price) %></td>
        </table>
      </div> <!-- .panel -->
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Trending</div>
        <div class="panel-body">
          <%= line_chart [
            { name: "Order", data: Order.unscoped.group_by_day(:created_at).count },
            { name: "Review", data: Comment.unscoped.approved.group_by_day(:created_at).count },
            { name: "Spam", data: Comment.unscoped.spam.group_by_day(:created_at).count }
          ] %>
        </div>
      </div> <!-- .panel -->
    </div>
  </div>
</div>
