<h1>Category: <%= @category.name %></h1>

<h2>Products</h2>

<%= render "products/products" %>

<%= will_paginate @products %>

<br />

<% if can? :manage, Category %>
  <%= link_to 'Edit Category', edit_category_path(@category) %> |
<% end %>

<%= link_to 'Back', categories_path %>
