<h1>Category: <%= @category.name %></h1>

<% if can? :manage, Category %>
  <%= link_to 'Edit Category', edit_category_path(@category) %> |
  <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>

<h2>Products</h2>

<% if administrative_view? %>
  <%= render "products/products" %>
<% else %>
  <%=
    render partial: "products/products_thumbnail",
           locals: {
             products: @products,
             divider_num: 4,
             options: { type: "category-product-item" }
           }
  %>
<% end %>

<%= will_paginate @products %>
