<% unless product.nil? %>
  <div class="col-sm-<%= opts[:span] || "3" %>">
    <div id="<%= dom_id(product) %>" class="thumbnail product-item <%= opts[:type] || "" %>">
      <%= link_to(image_tag(product.image_path, size: opts[:size] || "200x200", alt: product.name), product)  %>
      <div class="caption">
        <h3><%= link_to(product.name.titleize, product) %></h3>
        <% unless opts[:no_category] %>
        <h5><%= link_to(product.category.name, product.category) %></h5>
        <% end %>
        <% if opts[:no_buying] %>
          <p class="text-danger">
            <%= number_to_currency product.daily_price %>
          </p>
        <% else %>
          <p class="lead text-danger">
            <%= number_to_currency product.daily_price %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
