<div class="product-detail">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(product.image_path, size: "500x500", alt: product.name, class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h2><%= product.name %></h2>
      <dl class="dl-horizontal">
        <dt><strong>Price</strong></dt>
        <dd class="lead text-danger" id="price-tag"><%= number_to_currency product.daily_price %></dd>
        <% if product.bundle_unit > 0 %>
          <dt><strong>Discount</strong></dt>
          <dd>10% for <%= product.bundle_unit %> and more</small>
        <% end %>
        <dt><strong>Barcode</strong></dt>
        <dd><%= product.barcode %></dd>
        <dt>
          <strong>Popularity</strong>
          <dd><%= display_popularity_stars(product.weekly_sell) %></dd>
        </dt>
        <dt><strong>Category</strong></dt>
        <dd><%= link_to product.category.name, product.category %></dd>
        <dt><strong>Manufacturer</strong></dt>
        <dd><%= link_to product.manufacturer.name, product.manufacturer %></dd>
      </dl>

      <div class="buy-cart row">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Quantity</span>
            <input type="text" class="form-control" value="1" placeholder="1">
            <span class="input-group-btn">
                <button class="btn btn-danger">Add to Cart</button>
            </span>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div> <!-- buy-cart -->

      <p>
      </p>

      <% if can? :view, Product %>
      <p>
        <strong>Predicted Price:</strong>
        <%= number_to_currency product.new_daily_price %>
        <%= link_to 'Accept', update_price_product_path(product), remote:true, method: :patch if can? :edit, Product %>
      </p>

      <p>
        <strong>Cost Price:</strong>
        <%= number_to_currency product.cost_price %>
      </p>

      <% if current_user.manager? %>
        <% @stock = product.stocks.where(store: current_user.store).take %>
        <% if @stock.nil? %>
          <p><strong>No Stock in Shop</strong></p>
        <% else %>
          <p>
            <strong>Current Shop Stock:</strong>
            <%= @stock.quantity %>
          </p>

          <p>
            <strong>Minimum Shop Stock:</strong>
            <%= @stock.minimum %>
          </p>
        <% end %>
      <% end %>

      <p>
        <strong>Current HQ Stock:</strong>
        <%= product.current_stock %>
      </p>

      <p>
        <strong>Available HQ Stock:</strong>
        <%= product.available_stock %>
      </p>

      <p>
        <strong>Minimum HQ Stock:</strong>
        <%= product.minimum_stock %>
      </p>

      <p>
        <strong>Bundle Units:</strong>
        <%= product.bundle_unit %>
      </p>
      <% end %>

      <p>
        <% if can? :manage, Product %>
          <%= link_to "Edit", edit_product_path(product) %>
        <% end %>

        <% if can? :create, Stock %>
          <%= link_to "Stock this Product", new_product_stock_path(product) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "products" %>
<% end %>
