<div class="product-detail">
  <div class="row">
    <div class="col-xm-12 col-sm-4">
      <%= image_tag(product.image_path, size: "500x500", alt: product.name, class: "img-responsive") %>
    </div>
    <div class="col-xm-12 col-sm-7 col-sm-offset-1">
      <h2><%= product.name %></h2>

      <dl class="dl-horizontal">
        <dt><strong>Price</strong></dt>
        <dd class="lead text-danger price-tag"><%= number_to_currency product.daily_price %></dd>
        <% if product.bundle_unit > 0 %>
          <dt><strong>Discount</strong></dt>
          <dd>10% for <%= product.bundle_unit %> and more</small>
        <% end %>
        <dt><strong>Barcode</strong></dt>
        <dd><%= product.barcode %></dd>
        <dt>
          <strong>Popularity</strong>
          <dd><%= display_popularity_stars(product.weekly_sell) %></dd>
        </dt>
        <dt><strong>Category</strong></dt>
        <dd><%= link_to product.category.name, product.category %></dd>
        <dt><strong>Manufacturer</strong></dt>
        <dd><%= link_to product.manufacturer.name, product.manufacturer %></dd>
      </dl>

      <%= display_product_availability(product.available_stock) %>

      <% unless product.available_stock < 1 %>
        <div class="buy-cart-panel panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Purchase</h3>
          </div>
          <div class="panel-body">
          <%=
            render partial: "line_items/form",
                   locals: { product: product }
          %>
          </div>
        </div> <!-- buy-cart -->
      <% end %>
    </div>
  </div> <!-- row -->
</div> <!-- product-detail -->

<% if user_signed_in? && current_user.management? %>
  <h2 class="text-muted">Product Administration</h2>
  <hr>
  <%= render partial: "products/product_statistics", locals: { product: product } %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "products" %>
<% end %>
