<div class="product-detail">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(product.image_path, size: "500x500", alt: product.name, class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h2><%= product.name %></h2>
      <dl class="dl-horizontal">
        <dt><strong>Price</strong></dt>
        <dd class="lead text-danger price-tag"><%= number_to_currency product.daily_price %></dd>
        <% if product.bundle_unit > 0 %>
          <dt><strong>Discount</strong></dt>
          <dd>10% for <%= product.bundle_unit %> and more</small>
        <% end %>
        <dt><strong>Barcode</strong></dt>
        <dd><%= product.barcode %></dd>
        <dt>
          <strong>Popularity</strong>
          <dd><%= display_popularity_stars(product.weekly_sell) %></dd>
        </dt>
        <dt><strong>Category</strong></dt>
        <dd><%= link_to product.category.name, product.category %></dd>
        <dt><strong>Manufacturer</strong></dt>
        <dd><%= link_to product.manufacturer.name, product.manufacturer %></dd>
      </dl>

      <div class="buy-cart row">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Quantity</span>
            <input type="text" class="form-control" value="1" placeholder="1">
            <span class="input-group-btn">
                <button class="btn btn-danger">Add to Cart</button>
            </span>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div> <!-- buy-cart -->
    </div>
  </div> <!-- row -->
</div> <!-- product-detail -->

<% if user_signed_in? && current_user.management? %>
  <h2 class="text-muted">Product Administration</h2>
  <hr>
  <%= render partial: "products/product_statistics", locals: { product: product } %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "products" %>
<% end %>
