<h1>Products</h1>

<% if can? :manage, Product %>
  <%= link_to 'New Product', new_product_path %> |
  <%= link_to 'Perform Active Pricing', active_pricing_products_path, method: :post %>
<% end %>

<hr>

<% if administrative_view? %>
  <%= render "products" %>
<% else %>
  <%=
    render partial: "products/products_thumbnail",
           locals: {
             products: @products,
             divider_num: 4,
             options: { type: "product-page-item" }
           }
  %>
<% end %>

<%= will_paginate @products %>
