<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Barcode</th>
      <th>Daily price</th>
      <th>Daily price</th>
      <th>Cost price</th>
      <th>Cost price</th>
      <th>Current stock</th>
      <th>Minimum stock</th>
      <th>Bundle unit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.manufacturer %></td>
        <td><%= product.barcode %></td>
        <td><%= product.daily_price %></td>
        <td><%= product.daily_price %></td>
        <td><%= product.cost_price %></td>
        <td><%= product.cost_price %></td>
        <td><%= product.current_stock %></td>
        <td><%= product.minimum_stock %></td>
        <td><%= product.bundle_unit %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
