<tr id="<%= dom_id(line_item) %>">
  <td>
    <%= link_to(image_tag(line_item.image_path, alt: line_item.name),
                line_item.product, class: "pull-left cart-product-image") %>
  </td>
  <td>
    <p>
      <span class="lead"><%= link_to line_item.name.titleize, line_item.product %></span>
      <%= line_item.barcode %>
      <br>
      <%= display_line_item_availability(line_item.product) %>
      <br>
      <% unless defined?(no_edit) && no_edit %>
        <%= link_to "Delete", line_item, method: :delete, confirm: "Are you sure?" %>
      <% end %>
    </p>
  </td>
  <td class="text-danger">
    <p>
      <span class="lead text-danger">
        <%= number_to_currency line_item.discount_price %>
      </span>
      <br>
      <%= display_line_item_discount(line_item) %>
    </p>
  </td>
  <td class="lead">
    <% if defined?(no_edit) && no_edit %>
      <%= line_item.quantity %>
    <% else %>
      <%= render partial: "line_items/update_form", locals: { item: line_item } %>
    <% end %>
  </td>
</tr>
