<%= render "shared/header" %>
<%= render "shared/menu" %>

<div class="container">
  <% if flash.any? %>
    <%= alert_box(flash[:notice], 'success') if flash[:notice] %>
    <%= alert_box(flash[:alert], 'danger') if flash[:alert] %>
  <% end %>

  <%= yield %>

  <hr>

  <footer>
    <p>ShopTwo &copy; 2013, CG3002 - Group 02</p>
  </footer>
</div>

<%= render "shared/footer" %>
